#nav-collection-tab, #nav-profile-tab {
    color: black;
}
.collection-discover-p {
    font-size: 15px;
}

.discover-card-title {
    border-top: 2px solid black;
    padding: 3px;
}

.discover-book-card {
    width: 200px;
    border: solid 2px black;
}

.about-bg {
    background-color: #f7f7f7;
}

.about-item {
    border: solid 3px black;
    width: 400px;
}

.intro-book {
    width: 300px;
    margin: 0 auto;
}

.intro-rating-bg {
    background-color: #f7f7f7;
    width: 100%;
    padding: 10px;
}

.intro-rate-num {
    font-size: 1.5rem;
}

.intro-rate-solgan {
    font-size: 12px;
}

.intro-img {
    background-color: #f7f7f7;
}